{
	"extends": ["react-app", "react-app/jest", "prettier"],
	"rules": {
		"import/order": [
			"error",
			{
				"groups": [
					"builtin",
					"external",
					"internal",
					["parent", "sibling"],
					"index"
				],
				"warnOnUnassignedImports": true
			}
		],
		"no-restricted-imports": [
			"error",
			{
				"patterns": ["../..*"],
				"paths": [
					{
						"name": "react-redux",
						"importNames": ["useDispatch", "useSelector"],
						"message": "Please import 'useAppDispatch/useAppSelector' from '@/shared/store' instead."
					}
				]
			}
		],
		"prefer-template": "error",
		"no-useless-concat": "error"
	}
}
